$red: #f90706;
$orange: #f84d03;
$color-text: #f96028;

$purple-light: #78088d;
$purple-dark: #3a0591;

$color-blue: #0a4dfb;
$color-white: #fff;

$body_dark: #080a19;

$body-grey: #e4e4e4;
$dark-grey: rgb(179, 179, 179);
$darker-grey: rgb(51, 51, 51);

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$filter-bg: rgb(81, 81, 112);

$color-white: #fff;
$color-black: #000;

$aqua: #01b1ff;
$navy: #100d2e;

$low_shadow: 0px 3px 6px rgba(37, 37, 37, 0.171);
$high_shadow: 0px 0px 25px rgba(37, 37, 37, 0.171);

$shade-of-orange-1: #fb7438;
$shade-of-orange-2: #e60046;
$color-pink: #ff1679;
$color-red: rgb(209, 0, 0);
$text-color: #c97198;
$orange-fire: #e4342a;
$rich-purple: #b72843;
$orange-red-2: #ff0000;

$color-navy: #040024;
$color-navy-light: #0d0287;
$color-blue-primary: #2d5eff;
$employee_profile-color: #00001d;

$white: #fff;
$text-light: #f9f6f6;
$bg-light: #f8f8fb;
$table-grey: #707070;
$text-light-secondary: #f8f6f2;
$color-white: #fff;
$color-grey-light: #c3bfe4;
$color-grey-primary: #7f7f82;
$color-grey-secondary: #302f2f;
$color-grey-tertiary: #f5f5f5;
$grey-dark: #333232;
$color-black: #000;
$shadow: rgb(206, 206, 206);

$dark_shadow: rgb(224, 224, 224);

$color-success: rgb(3, 105, 3);
$color-success-primary: rgb(4, 116, 4);
$color-success-secondary: rgb(26, 151, 1);
$aqua-green: #0ac2bc;
$green: #03af03;

$lemon: #f9c003;

$blue-shade: #001077;

$purple-thing: #542fa8;
$maroon: #75013d;

$dark-purple: #150b37;
$light-purple: #400983;
