button {
  background: none;
  border: none;
  outline: none;
}

.primary_btn {
  background: #03489a;
  padding: 1rem 1.5rem;
  color: #fefefe;
  border-radius: 5px;
}

.secondary_btn {
  padding: 1rem 1.5rem;
  background: #eeeeee;
  border-radius: 5px;
}
